<%= stylesheet_link_tag 'login', :media =>"all" %>
<div class="login-page"></div>
  <div class="account-box">
　  <h2 class="account-main">投稿者情報</h2>
　  <hr class= "line_profile">
　  <div class="show_Mian">
      <span class="user-title">ユーザー名</span>
      <span class="user-name"> <%= @user.name %></span>
    </div>
    <hr class= "line_profile">
    <% if @user.id == current_user.id %>
    <% else %>
      <% if @isRoom == true %>
        <p class="chatroom">
          <a href="/rooms/<%= @roomId %>">メッセージを送る</a>
        </p>
      <% else %>
        <%= form_for @room do |f| %>
          <%= fields_for @entry do |e| %>
            <%= e.hidden_field :user_id, :value=> @user.id %>
          <% end %>
          <%= f.submit "メッセージを送る", class:"sendMesseage" %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
