<%= stylesheet_link_tag 'login', :media => "all" %>
<div class="hamburger-menu">
  <input type="checkbox" id="menu-btn-check">
  <label for="menu-btn-check" class="menu-btn"><span></span></label>
  <div class="menu-content">
    <ul>
      <li><%= link_to"迷子犬 一覧","/searches/index",class:"js_menu" %></li>
      <li><%= link_to"保護犬 一覧","/protections/index",class:"js_menu" %></li>
      <li><%= link_to"登録済みのルーム一覧","/rooms/index",class:"js_menu" %></li>
      <li><%= link_to"設定","/users/account",class:"js_menu" %></li>
      <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "js_menu" %></li>
  </div>
</div>
