<%= stylesheet_link_tag 'sights', :media => "all" %>
<div class="sight-box">
  <h2 class="sight-main">目撃犬情報編集</h2>
  <%= form_with model: @sight, local: true do |f| %>
    <div class="sight_view_content">
      <span><%= f.label :タイトル, {class: 'require'} %></span>
      <span class="condition">必須</span>
      <%= f.text_field :sight_title, placeholder:"XX公園内で黒い犬を見かけました", class: 'form' %>
      <hr class= "line">
    </div>
    <div class="sight_view_content">
      <span><%= f.label :特徴, {class: 'require'} %></span>
    　<span class="condition">必須</span>
      <%= f.text_area :sight_profile, placeholder:"特徴を入力（名前や身体的特徴、身につけているもの）", class: 'form-text' %>
      <hr class= "line">
    </div>
    <div class="sight_view_content">
      <span><%= f.label :目撃した場所・経緯, {class: 'require'} %></span>
      <span class="condition">必須</span>
      <%= f.text_area :sight_place, placeholder:"xx県xx市xx小学校付近", class: 'form-text' %>
      <hr class= "line">
    </div>
    <div class="sight_view_content">
      <span><%= f.label :目撃した日時, {class: 'require'} %></span>
      <span class="condition">必須</span>
      <%= f.date_field :sight_date, placeholder:"令和x年x月x日", class: 'form-text' %>
      <hr class= "line">
    </div>
    <div class="sight_view_content">
      <span><%= f.label :届け出した機関, {class: 'require'} %></span>
      <span class="condition">必須</span>
      <%= f.text_area :sight_contact, placeholder:"個人の電話番号などは避けてください", class: 'form-text' %>
      <hr class= "line">
    </div>
    <div class="sight_view_content">
      <span><%= f.label :目撃した犬の写真, {class: 'require'} %></span>
      <span class="non_condition">任意</span>
      <%= f.file_field :sight_images, :multiple => true, class: 'form-image' %>
      <hr class= "line">
    </div>
    <div class="sight_view_content">
      <%= f.submit"更新" , class:"sight_btn" %>
    </div>
  <% end %>
</div>
