<%= stylesheet_link_tag 'sights', :media => "all" %>
<div class="sightContent">
  <div class="sightTop">
    <div class="page-header">
      <h1 class="page_main">現在目撃されている犬たち</h1>
      <%= link_to "目撃した犬を登録する", "/sights/new", class: "btn btn-default" %>
    </div>
  </div>
  <% @sights.each do |sight| %>
    <div class="sightMain">
      <div class="sightBox">
        <h3><%= link_to sight.sight_title , sight, class:"sight_title" %></h3>
        <div class="sightImage">
          <% if sight.sight_images? %>
            <%= image_tag sight.sight_images[0].url, class:"sight_image", size: '280x320' %>
          <% else %>
            <%= image_tag "default.jpeg", class:"sight_image", size: '280x320' %>
          <% end %>
        </div>
        <div class="sightCaption">
          <h3>目撃した場所：<%= sight.sight_place %></h3>
          <h3>目撃した日時：<%= sight.sight_date %></h3>
        </div>
      </div>
    </div>
  <% end %>
</div>
