<%= stylesheet_link_tag 'searches', :media => "all" %>
<div class="searchContent">
  <div class="searchTop">
    <div class="page-header">
      <h1 class="page_main">現在迷子になっている犬たち</h1>
      <%= link_to "迷子犬を登録する", "/searches/new", class: "btn btn-default" %>
    </div>
  </div>
  <% @searches.each do |search| %>
    <div class="searchMain">
      <div class="searchBox">
        <h3><%= link_to search.search_title , search, class:"search_title" %></h3>
        <div class="searchImage">
          <% if search.dog_images? %>
            <%= image_tag search.dog_images[0].url, class:"search_image", size: '280x320' %>
          <% end %>
        </div>
        <div class="searchCaption">
          <h3>いなくなった場所：<%= search.disappeared_place %></h3>
          <h3>いなくなった日時：<%= search.disappeared_date %></h3>
        </div>
      </div>
    </div>
  <% end %>
</div>
