<%= stylesheet_link_tag 'rooms', :media => "all" %>
<div class="dmPage"></div>
  <div class="row_dm">
    <div class="col-lg2 user-nav-pc d-lg-block d-none">
      <ul>
        <li class="active">
          <%=link_to "メッセージ一覧", rooms_path %>
        </li>
        <li class="active1">
          <%= link_to "メッセージ詳細" %>
        </li>
      </ul>
    </div>
    <div class="userBox">
      <h1 class="messeageMain">メッセージ</h1>
      <h4 class="Users">《 参加者 》</h4>
      <% @entries.each do |e| %>
        <p class="UsersName"><strong>・<%= e.user.name%>さん</strong></p>
      <% end %>
      <%= form_for @message do |f| %>
        <%= f.text_field :content, :placeholder => "メッセージを入力して下さい" ,:size => 70, class:"messeage_box"%>
        <%= f.hidden_field :room_id, :value => @room.id %>
        <br>
        <%= f.submit "メッセージを送信する", class:"messeageSubmit" %>
      <% end %>
      <div class="messeageBox">
        <hr>
        <% if @messages.present? %>
          <% @messages.each do |m| %>
            <strong class="messeageContent"><%= m.content %></strong>
            <small class="user_by">by <strong><%= m.user.name %>さん</strong></small>
            <hr>
          <% end %>
        <% else %>
          <h3 class="text-center">メッセージはまだありません</h3>
          <hr>
        <% end %>
      </div>
    </div>
  </div>
</div>
