<%= stylesheet_link_tag 'protections', :media => "all" %>
<div class="protectionContent">
  <div class="protectionTop">
    <div class="page-header">
      <h1 class="page_main">現在保護されている犬たち</h1>
      <%= link_to "保護した犬を登録する", "/protections/new", class: "btn btn-default" %>
    </div>
  </div>
  <% @protections.each do |protection| %>
    <div class="protectionMain">
      <div class="protectionBox">
        <h3><%= link_to truncate(protection.protection_title, length:14), protection, class:"protection_title" %></h3>
        <div class="protectionImage">
          <% if protection.protection_images? %>
            <%= image_tag protection.protection_images[0].url, class:"protection_image", size: '280x320' %>
          <% end %>
        </div>
        <div class="protectionCaption">
          <h3>保護した場所：<%= truncate(protection.protection_place, length:39) %></h3>
          <h3>保護した日時：<%= protection.protection_date %></h3>
        </div>
      </div>
    </div>
  <% end %>
</div>
