<%= stylesheet_link_tag 'protections', :media => "all" %>
<div class="protection-box">
  <span>現在ログイン中のユーザー：<%= current_user.name %></span>
  <h2 class="protection-main">保護犬情報登録</h2>
  <%= form_with model: @protection, local: true do |f| %>
    <div class="protection_view_content">
      <span><%= f.label :タイトル, {class: 'require'} %></span>
      <span class="condition">必須</span>
      <%= f.text_field :protection_title, placeholder:"白い犬保護しています", class: 'form' %>
      <hr class= "line">
    </div>
    <div class="protection_view_content">
      <span><%= f.label :犬種, {class: 'require'} %></span>
    　<span class="condition">必須</span>
    　<%= f.text_field  :protection_breed, placeholder:"犬種を入力、不明の場合は不明と入力", class: 'form' %>
      <hr class= "line">
    </div>
    <div class="protection_view_content">
      <span><%= f.label :首輪の有無, {class: 'require'} %></span>
      <span class="condition">必須</span>
      <%= f.text_field :protection_choker, placeholder:"無い場合は無しと記入", class: 'form-age' %>
      <hr class= "line">
    </div>
    <div class="protection_view_content">
      <span><%= f.label :鑑札札の有無, {class: 'require'} %></span>
      <span class="condition">必須</span>
      <%= f.text_field :protection_dogtag, placeholder:"無い場合は無しと記入", class: 'form-age' %>
      <hr class= "line">
    </div>
    <div class="protection_view_content">
      <span><%= f.label :特徴, {class: 'require'} %></span>
    　<span class="condition">必須</span>
      <%= f.text_area :protection_profile, placeholder:"特徴を入力（名前や身体的特徴、身につけているもの）", class: 'form-text' %>
      <hr class= "line">
    </div>
    <div class="protection_view_content">
      <span><%= f.label :保護した場所・経緯, {class: 'require'} %></span>
      <span class="condition">必須</span>
      <%= f.text_area :protection_place, placeholder:"xx県xx市xx小学校付近", class: 'form-text' %>
      <hr class= "line">
    </div>
    <div class="protection_view_content">
      <span><%= f.label :保護した日時, {class: 'require'} %></span>
      <span class="condition">必須</span>
      <%= f.date_field :protection_date, placeholder:"令和x年x月x日", class: 'form-text' %>
      <hr class= "line">
    </div>
    <div class="protection_view_content">
      <span><%= f.label :連絡先, {class: 'require'} %></span>
      <span class="condition">必須</span>
      <%= f.text_area :protection_contact, placeholder:"個人の電話番号などは避けてください", class: 'form-text' %>
      <hr class= "line">
    </div>
    <div class="protection_view_content">
      <span><%= f.label :届け出済みの機関, {class: 'require'} %></span>
      <span class="condition">必須</span>
      <%= f.text_area :contacted_institution, placeholder:"保健所、動物愛護センター、交番、警察署など", class: 'form-text' %>
      <hr class= "line">
    </div>
    <div class="protection_view_content">
      <span><%= f.label :保護犬の写真, {class: 'require'} %></span>
      <span class="condition">必須</span>
      <%= f.file_field :protection_images, :multiple => true, class: 'form-image' %>
      <hr class= "line">
    </div>
    <div class="protection_view_content">
      <%= f.submit"登録" , class:"search_btn" %>
    </div>
  <% end %>
</div>
