<%= stylesheet_link_tag 'protections', :media =>"all" %>
<div class="protectionContent">
  <div class="protectionTop">
    <div class="page-header">
      <h1 class="page-main">検索結果：<%= @protections.count %>件</h1>
      <%= link_to "ホームへ戻る", root_path, class: "btn root-default" %>
    </div>
  </div>
  <% @protections.each do |protection| %>
    <div class="protectionMain">
      <div class="protectionBox">
        <h3><%= link_to protection.protection_title , protection, class:"protection_title" %></h3>
        <div class="protectionImage">
          <% if protection.protection_images? %>
            <%= image_tag protection.protection_images[0].url, class:"protection_image", size: '280x320' %>
          <% end %>
        </div>
        <div class="protectionCaption">
          <h3>保護した場所：<%= protection.protection_place %></h3>
          <h3>保護した日時：<%= protection.protection_date %></h3>
        </div>
      </div>
    </div>
  <% end %>
</div>
